* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  display: inline-block;
  min-height: 1em;
  font-size: 30px;
  color: #b9b9b9;
  font-weight: 600;
  margin-bottom: 20px;
}

.buttons {
  list-style: none;
  text-align: center;
  display: flex;
  width: 100%;
  box-sizing: content-box;
  flex-wrap: wrap;
  justify-content: center;  
}

.btn {
  margin: 10px;
  min-width: 130px;
}